
#postHeader {
    background-color: #d3d3d3
  }
  #commentHeader {
    background-color: #d3d3d3
  }
  .button-primary:hover {
    background-color: #ff9d2a !important;
  }
  
  .btnTextStrong {
    color: #393939
  }
  
  #logo {
    height: 50px;
    width: 50px;
  };
  
  
  
  
  .logoWords {
    color: gold
  }
  
  .btn-success {
    background-color: rgb(0, 162, 255);
    border: none;
  };
  
  
  .btn-success:focus {
  
    background-color: 	#f57722
  
  };
  
  